# 忽略 PyCharm 的本地配置文件
../.idea/
*.iml

# 忽略 Python 运行产生的缓存文件
__pycache__/
*.pyc

# 忽略本地虚拟环境
.venv/
venv/

# 忽略个人的隐私及临时文本文件
basic_learn/diary.txt
basic_learn/chat.txt
basic_learn/test.txt
basic_learn/output.txt